.intro{
    background-image: url(../img/img-products/backProdutos.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #F0F0EA;
}

.intro h1{
    font-size: 5.6rem;
}

.intro h1 span{
    color: #f9b838;
}

.intro h2{
    font-size: 4.8rem;
    font-weight: 300;
}

.little-section{
    color: #F0F0EA;
    height: 20vh;
    background: #46594e;
    display: flex;
    align-items: center;
}

.little-section h2{
    margin-left: 2rem;
    font-size: 4rem;
}

.sections{
    min-height: 90vh;
    padding: 4rem 0;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    flex-direction: column
}

.content-text p{
    margin: 1rem 0;
}

.sections h2{
    font-size: 4.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

h2 span{
    color: #f9b838;
}

.flex-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.content-text{
    min-width: 30rem;
    width: 50%;
    height: 100%;
    font-size: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin: 0 4rem;
}

.main-content img{
    width: 50%;
    max-width: 40rem;
}

.button{
    width: 25rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #262535;
    border-radius: 4rem;
    margin-top: 2rem;
    color: #F0F0EA;
    text-decoration: none;
    transition: all ease-in-out 300ms;
}

.button:hover{
    transform: scale(1.1);
}

@media (max-width: 80rem){
    .intro{
        text-align: center;
    }
    
    .intro h1{
        font-size: 4rem;
    }

    .intro h2{
        font-size: 3.2rem;
    }
}